<form action="/tips" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="title">title</label>
  <input type="" name="title">
  <label for="content"></label>
  <textarea name="content"></textarea>
  <button>Post</button>
</form>
