<form class="" action="/dishes/<%= @dish.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <h1>Are you sure you want to delete <%= @dish.name %>?</h1>
  <button type="submit" name="button">Yes</button>
</form>
